*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
p.json
cdk.context.json
exports.sh
resume_iac/s3_website__stack.py
iam.json
.vscode/settings.json
diagram/
diagram.dot
README.md
admin_scripts/assign_api_key_to_origin.py
